<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="utils.js" charset="utf-8"></script>
  <script src="config.js" charset="utf-8"></script>
  <script src="ext/jquery.min.js"></script>
  <script src="ext/vue.js"></script>
  <script src="vue-gpa.js" charset="utf-8"></script>
  <link rel="stylesheet" href="master.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Chakra+Petch|Noto+Sans+SC" rel="stylesheet">
  <title>Sazak's GPA Calculator</title>
</head>
<body>
  <div id="app">
    <p class="header1">Simple GPA Calculator</p>
    <p class="header2">by Sazak</p>

    <div id="loader-sect" v-if="!loaded">
      <p>Loading...</p>
    </div>

    <div id="main-sect" v-if="loaded">
      <div class="dept-select-gr">
        <p>Department:</p>
        <select class="dept-select" v-model="dept" v-on:change="clear_table()">
          <option v-for="s_dept in depts" :value="s_dept.id">{{s_dept.short_name}}</option>
        </select>
      </div>

      <table class="grade-tab">
        <tbody v-for="(semester, index) in depts[dept].courses">
          <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>METU Credit</th>
            <th>Grade</th>
          </tr>

          <tr v-for="course_code in semester" :key="course_code">
            <td>{{course_code}}</td>
            <td>{{courses[course_code].name}}</td>
            <td>{{courses[course_code].credit}}</td>
            <td>
              <select class="tb-sel" :data-ccode="course_code" :data-ccredit="courses[course_code].credit" v-on:change="update_gpa()">
                <option value="4">AA</option>
                <option value="3.5">BA</option>
                <option value="3">BB</option>
                <option value="2.5">CB</option>
                <option value="2">CC</option>
                <option value="1.5">DC</option>
                <option value="1">DD</option>
                <option value="0.5">FD</option>
                <option value="0">FF</option>
                <option value="0">NA</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="sect-bottom">
        <p class="grader-txt">Your GPA : <span style="font-weigth: bold">{{gpa}}</span></p>
        <button type="button" @click="clear_table()">CLEAR</button>
      </div>
    </div>

    <div id="footer-sect">
      <p>Simple GPA Calculator &copy 2018 Ozan Sazak</p>
      <p class="sub">Source code is available in <a target="_blank" href="https://github.com/ozansz/gpa-calculator">GitHub</a></p>
    </div>
  </div>
</body>
</html>
